/* CSS Document */

body {
margin: 0px;
padding: 0px;
background-color:#EAF5FD;
font: normal 13px "Lucida Grande", verdana, arial, helvetica, sans-serif;
}

.header1{
background-image:url(images/hdr_pattern1.gif);
height:30px;}

.header2{
height:98px;
text-align:center;
background-image:url(images/hdr_pattern2.gif);
background-repeat:repeat-x;
}

.footer{
background-image:url(images/dots_underline.gif);
background-repeat:repeat-x;
margin-top:15px;
text-align:center;
font-size:12px;
padding: 15px;}

h1{
font: 36px Palatino, "Times New Roman", Times, serif;
color: #006699;
font-weight:bold;
margin:0px;
padding-top:15px;
letter-spacing:-2px;}

.main_holder{
width:760px;
margin-left:auto;
margin-right: auto;
margin-top:15px;
}

.left_column{
width:369px;
float:left;
padding-right:14px;
}

.mid_column{
width:158px;
float:left;
background-color:#C1E3F9;
padding:14px;
}

.right_column{
width:175px;
float:left;
padding-left:14px;
padding-top:14px;
}

.img-main{
border: 4px solid #ffffff;}

h2{
color:#006699;
margin-top:3px;
margin-bottom:3px;
font-weight:bold;
font: 25px Palatino, "Times New Roman", Times, serif;
}

h3{
text-transform: uppercase;
font-size:11px;
color:#003366;
background-image:url(images/dots_underline.gif);
background-repeat:repeat-x;
background-position: 0px 16px;
padding-bottom:5px;
margin:0px;
}

.nav-bg-outer{
padding-top:10px;
padding-bottom:3px;}

.nav-bg{
background-color:#EAF5FD;
}

.nav{
color:#006699;
font-size:12px;}

.nav-bg-inner{
font-size:12px;
font-weight:bold;
color:#003366;
margin-left:auto;
margin-right:auto;
text-align:center;
width:760px;}

a, a:link a:visited{
color:#32A57A;
font-size:11px;
font-weight:bold;
text-decoration:none;}

a:hover{
color:#20684E;}
